---
- name: "Quay login"
  shell: "{{ container_tool }} login -u=\"{{ quay_user }}\" -p={{ quay_password }} quay.io"
  no_log: true
  when:
    - quay_user is defined
    - quay_password is defined
    - quay_user != ""
    - quay_password != ""

- name: "Quay login via auth token"
  shell: "{{ container_tool }} login -u=\\$oauthtoken -p={{ quay_api_token }} quay.io"
  no_log: true
  when: (quay_user is undefined or quay_password is undefined or quay_user == "" or quay_password == "") and quay_api_token is defined and quay_api_token != ""
